@charset 'utf-8';

/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap');


/* 공통 */
html, body {
    font-family: 'Noto Sans', sans-serif;
}

.btn {
    cursor: pointer;
}

.en {
    font-family: 'Roboto', sans-serif;
}

.cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 85%;
    margin: 0 auto;
    transition: all 2s ease-out;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}


/* root */
:root {
    --bgColor: #F2F1ED;
    --mainColor: #D2CEFF;
    --subColor: #FFDCAA;
    --pointColor: #D0F97A;
    --textColor: #000;
}