@charset 'utf-8';

.wrap {
    min-height: 100vh;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
}

.inner {
    position: relative;
    width: 375px;
    height: 667px;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid var(--textColor); */
}

.inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    transform: scale(1.3);
    background: url('/assets/img/img-phone2.svg') -170px center no-repeat;
}

.mainTitle {
    font-size: 1.25rem;
    line-height: 1.3;
    padding-top: 40px;
}

.mainMiddleWrap {
    margin: 40px 0;
}

.heart {
    position: absolute;
    top: 115px;
    left: -2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.heart:nth-child(1) {
    -webkit-animation: upDownHeart1 2s infinite;
    -ms-animation: upDownHeart1 2s infinite;
    animation: upDownHeart1 2s infinite;
}

@keyframes upDownHeart1 {
    0% {
        top: 120px;
    }
    50% {
        top: 135px;
        transform: scale(1.2) rotate(45deg);
    }
    100% {
        top: 120px;
    }
}

@keyframes upDownHeart1 {
    0% {
        top: 120px;
    }
    50% {
        top: 135px;
        transform: scale(1.2) rotate(45deg);
    }
    100% {
        top: 120px;
    }
}

.heart:nth-child(3) {
    top: 290px;
    left: 274px;
    -webkit-animation: upDownHeart2 2s infinite;
    -ms-animation: upDownHeart2 2s infinite;
    animation: upDownHeart2 2s infinite;
}

@keyframes upDownHeart2 {
    0% {
        top: 290px;
    }
    50% {
        top: 280px;
        transform: scale(1.2) rotate(45deg);
    }
    100% {
        top: 290px;
    }
}

.leftHeart,
.rightHeart {
    position: relative;
}

.leftHeart::before,
.leftHeart::after,
.rightHeart::before,
.rightHeart::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.leftHeart,
.leftHeart::before,
.leftHeart::after {
    width: 30px;
    height: 30px;
    background-color: var(--subColor);
}

.leftHeart::before,
.rightHeart::before {
    left: -50%;
}

.leftHeart::after,
.rightHeart::after {
    top: -50%;
    left: 0px;
}

.rightHeart,
.rightHeart::before,
.rightHeart::after {
    width: 15px;
    height: 15px;
    background-color: var(--pointColor);
}

.mainImg {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

.mainCnt {
    line-height: 1.3;
    font-size: .875rem;
    font-style: italic;
    padding-top: 30px;
    word-break: keep-all;
}

.btn {
    position: absolute;
    width: calc(100% - 100px);
    margin: 0 auto;
    border-radius: 20px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    border-radius: 20px;
    z-index: 0
}

.btn .btnCnt {
    position: relative;
    display: block;
    padding: 10px;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border: 1px solid var(--textColor);
    z-index: 1;
}

.btn:hover::before {
    top: 0;
    left: 0;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}