@charset 'utf-8';

.wrap {
    text-align: center;
    background-color: var(--bgColor);
}

.inner {
    width: 375px;
    margin: 0 auto;
    border: 1px solid var(--textColor);
}

.cnt {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mainImg {
    width: 80%;
}